/* Stili per la modalità Dark */
.dark-mode {
  background: rgb(39, 38, 38);
 
}
/* --->Navbar */
.navbar.dark-mode {
  
  background-color: rgb(0, 0, 0);
  
  .nav-list.dark-mode{
    background-color: black;
  }
  }
  .bar.dark-mode{
    background-color: rgb(248, 126, 3);
  }
 
  .dark-mode .dark-mode-toggle .fa-icon {
    color: rgb(248, 124, 0);
  }
 
.nav-list.dark-mode a {

  color:rgb(248, 124, 0);
  
}
.nav-list.dark-mode a,
 .tit-h.dark-mode,
 .dark-mode .tit-pga,
 .descr.dark-mode,
 .dark-mode .loader-spinner,
 .dark-mode .data-s,
 .footer.dark-mode  {
  color:rgb(248, 124, 0);
  
}
