body{
  background: rgb(255,249,248);
background: linear-gradient(90deg, rgba(255,249,248,1) 0%, rgba(219,218,216,1) 57%, rgba(129,129,129,1) 100%);
}
  .tit{
    color: rgb(30, 8, 2);
    padding-top: 40px;
  }
