/* ProvincePage.css */
body{
    background-color: rgba(24, 17, 17, 0.829);
   

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.province-select{
    color:orange;
}
