
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    
  }
.province-select{
    color:rgb(0, 0, 0);
}
